.navbar {
  background: black;
}
.nav-link,
.navbar-brand {
  color: #f4f4f4;
  cursor: pointer;
}

.navbar-brand:hover {
  color: #ac9e9e;
}
.nav-link {
  margin-right: 1em !important;
}
.nav-link:hover {
  background: #f4f4f4;
  color: black;
}
.navbar-collapse {
  justify-content: flex-end;
}

.header {
  height: 100vh;
  background-image: url("images/headerback.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

.description {
  position: absolute;
  top: 20%;
  margin: auto;
  padding: 2em;
}

.description button {
  border: 1px solid black;
  background: black;
  color: #fff;
}

.container {
  display: flex;
  justify-content: center;
}
