body {
  font-family: "Open Sans";
}

.navbar {
  background: black;
}
.nav-link,
.navbar-brand {
  color: #f4f4f4;
  cursor: pointer;
}

.navbar-brand:hover {
  color: #ac9e9e;
}
.nav-link {
  margin-right: 1em !important;
}
.nav-link:hover {
  background: #f4f4f4;
  color: black;
}
.navbar-collapse {
  justify-content: flex-end;
}

.header {
  height: 100vh;
  background-image: url("images/headerback.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

.description {
  position: absolute;
  top: 20%;
  margin: auto;
  padding: 2em;
}

.description button {
  border: 1px solid black;
  background: black;
  color: #fff;
}

.headerWrapper {
  display: flex;
  justify-content: center;
}

.about,
.info {
  padding: 2em;
  position: relative;
  background-color: #f7f7f1;
}

.about img {
  height: 100%;
  width: 100%;
}
.about p {
  line-height: 2;
  color: black;
  margin-left: -10%;
}
.aboutTitle {
  margin-top: 10vh;
  margin-bottom: 10vh;
  height: 10vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.portfolio {
  position: relative;
}

.portfolio .img-wrap {
  position: relative;
  margin: 1em;
}

.img-wrap p {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.info img {
  position: relative;
  margin: 1em;
  height: 5vw;
}

.info h1 {
  padding: 10vh;
  font-weight: 900;
}

.info h4 {
  padding: 5vh;
  font-weight: 600;
}

.contact-form {
  margin: 6em 0;
  position: relative;
}
.contact-form h1 {
  padding: 2em 1px;
  color: black;
  font-weight: 900;
}
.contact-form .right {
  max-width: 600px;
}
.contact-form .right .btn-secondary {
  background: black;
  color: #fff;
  border: 0;
}
.contact-form .right .form-control::placeholder {
  color: #ac9e9e;
  font-size: 16px;
}
